{% extends 'base.html' %}

{% block content %}
<div>
            <a class="category">
                <p onClick="location.href='art'" class="cursor">미술</p>
                <p onClick="location.href='craft'" class="cursor">공예</p>
                <p onClick="location.href='workout'" class="cursor">운동</p>
                <p onClick="location.href='musicdance'" class="cursor">음악/댄스</p>
                <p onClick="location.href='instrument'" class="cursor">악기</p>
                <p onClick="location.href='cook'" class="cursor">요리</p>
                <p onClick="location.href='homecafe'" class="cursor">홈카페</p>
                <p onClick="location.href='movies'" class="cursor">영화감상</p>
                <p onClick="location.href='books'" class="cursor" style="color: #6E6CBF; font-weight:bold;">독서</p>
                <p onClick="location.href='etc'" class="cursor">기타</p>
                <p onClick="location.href='accountform'" class="cursor">계정 추천</p>
            </a>
    <div class="slideshow-container">


<!--유튜브-->

    <p></p>
    <div style="width:100%">


    <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://m.youtube.com/channel/UCnLNiKk7hFb62oOr0ofU77g')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwng4MLb0RnnprPVwysMG4zRuSt0zNf79U49kyFmBBg=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">사월이네 북리뷰</h4>
        <hr>
        <p class="socialAccountNameDetail">
“사월이네 북리뷰”는 책을 소재로 한 영상미디어로,<Br>
주로 10분 내외의 영상 컨텐츠를 제공합니다. <Br>
<Br>
“고전문학”, “장르문학”, “자기계발”, “에세이” 등 <Br>
다양한 분야의 도서를 소개합니다.<Br>
<Br>
작품을 먼저 읽으신 분들께는 감상을 나눌수 있는 공간이되고<Br>
읽지 않은분께는 도서를 소개받는 공간이 되려합니다.<Br>
<Br>
○ 리뷰 문의는 메일로 보내주세요<Br>
 - kbkim81@naver.com<Br>
   (모든 메일에 답장을 드리지는 못 합니다.)<Br>
<Br>
○ 인스타그램<Br>
 -  https://www.instagram.com/april_bookreview<Br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://m.youtube.com/channel/UCPTgchmtIG4ZElcR-0okIYw')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwngRgN1XijFw5B9Ad-lT9YWmcaMqpF-lOmy-pFMh=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">문학줍줍</h4>
        <hr>
        <p class="socialAccountNameDetail">
국내 최초 문학 전문 채널, 문학줍줍입니다.<Br>
과거와 현대의 양서만을 엄선하여 소개해드리고 있습니다.<Br>
<Br>
일상생활에서 긴 문학작품 읽으실 시간 없으신 분들을 위한 채널입니다.<Br>
<Br>
✔️ 좋아요는 저에게 많은 힘이 됩니다! :-)<Br>
✔️ 구독하시면 더 편하게 받아보실 수 있어요.<Br>
<Br>
📧 공식 이메일: pick.liter@gmail.com<Br>
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://m.youtube.com/channel/UCwceK1cuhno53zECy6RI1sQ')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwni58PREErPDFo9Bh66efWHlP9u1uPZkNfWkxUa1QA=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">lunar pulse 책읽어주는여자</h4>
        <hr>
        <p class="socialAccountNameDetail">
■18.11.24.북튜브 시작<Br>
<Br>
■채널의 모든 영상은 저작권자의 저작물 사용 허락을  받고 제작되었습니다. <Br>
<Br>
■책광고나 도서 홍보요청은 받지않습니다.<Br>
(단, 도서 안내 메일은 언제든 환영입니다.)<Br>
<Br>
■유튜브 플랫폼과 디지털 음성 콘텐츠가 좋은 책을 만나고, 그 향기를 담을 수 있는 공간으로 만들겠습니다.<Br>
제 채널은 작가와 출판사를 간단히 소개한 후 최대한 저의 생각을 배제하고 배경으로 물러나 앉아 작가가 애써 쓴 문장 자체의 가치를 전달하려고 노력하는 채널입니다.<Br>
그리고 저는  클래식마니아라서<Br>
커뮤니티에 '클래식 노마드' 글을 쓰고 있습니다.<Br>
<Br>
■eunhea.o@gmail.com<Br>
        </p>
        </div>


        <!--인스타-->
        <p></p>
<!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/change_ground?igshid=tunf0ujn02yj')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">change_ground</h4>
        <hr>
        <p class="socialAccountNameDetail">
체인지그라운드<Br>
👇&lt;생각의 마중길&gt;강연 신청하러 가기<Br>
linktr.ee/changeground<Br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/thebookman_?igshid=293isvpxlup9')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">thebookman_</h4>
        <hr>
        <p class="socialAccountNameDetail">
책 읽어주는 남자<Br>
👇🏻책읽어주는남자와 함께 할 팀원을 모십니다.<Br>
www.thebookman.co.kr/recru<Br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/jungjuyoung9?igshid=62w8s2v9bq2k')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">jungjuyoung9</h4>
        <hr>
        <p class="socialAccountNameDetail">
작가 정주영<Br>
외부의 소음을 차단하고 나만의 깊이를 발견할 용기 🙏<Br>
<Br>
📖 《하버드 상위 1퍼센트의 비밀》 구매<Br>
bit.ly/2PRNJ2P<Br>
        </p>
        </div>


        <!--계정 추천 버튼-->
        <div style="width:20%; display: inline-table;">
            <svg onclick="location.href='accountform'" style="cursor: pointer;" fill="#404040" height="30" viewBox="0 0 512 512"  xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/></svg>
            <a style="display: table-cell; vertical-align: middle; font-size:12px;">관심 유튜브를 추가하세요!</a>
        </div>
    </div>
    <p></p>


    </div>
{% endblock %}