{% extends 'base.html' %}

{% block content %}
<div>
            <a class="category">
                <p onClick="location.href='art'" class="cursor">미술</p>
                <p onClick="location.href='craft'" class="cursor">공예</p>
                <p onClick="location.href='workout'" class="cursor">운동</p>
                <p onClick="location.href='musicdance'" class="cursor">음악/댄스</p>
                <p onClick="location.href='instrument'" class="cursor">악기</p>
                <p onClick="location.href='cook'" class="cursor" style="color: #6E6CBF; font-weight:bold;">요리</p>
                <p onClick="location.href='homecafe'" class="cursor">홈카페</p>
                <p onClick="location.href='movies'" class="cursor">영화감상</p>
                <p onClick="location.href='books'" class="cursor">독서</p>
                <p onClick="location.href='etc'" class="cursor">기타</p>
                <p onClick="location.href='accountform'" class="cursor">계정 추천</p>
            </a>
    <div class="slideshow-container">


<!--유튜브-->

    <p></p>
    <div style="width:100%">


    <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://m.youtube.com/channel/UCyn-K7rZLXjGl7VXGweIlcA')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnjqgs2fR9IuVGk1nYDHbQ20hiUv7oPT_qsPtTmQrQ=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">백종원의 요리비책</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://www.youtube.com/user/biryoungstyle?app=desktop')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnjcaxQyUHx0u8rV5eV3UyhV9lHrt3qyZgm3OAGKcQ=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">요리왕비룡</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명장보고 요리하는 크리에이터 요리왕비룡 입니다 !<br>
문의 ccoji123@naver.com<br>
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://www.youtube.com/channel/UCKA_6r3CWC76x_EaFO6jsPA?app=desktop')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnjnBcagbKVnwpQcInfS0EEbD8QXVOVgqtjo3uBtYA=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">만개의레시피 10K Recipe</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명국내 No.1 요리 앱 '만개의레시피'<br>
10만 여개의 레시피로 초간단 요리에서 일품 요리까지~<br>
요리초보도 쉽게 해먹을 수 있는 집밥, 혼밥 요리도 가득합니다.<br>
        </p>
        </div>


        <!--인스타-->
        <p></p>
<!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/ihsm88?igshid=1gvvwah9mlotb')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">ihsm88</h4>
        <hr>
        <p class="socialAccountNameDetail">
히삼밥상<br>
다문화가정의 밥상🍽<br>
한식 일식 양식 다합니다🧡<br>
日韓夫婦の食卓<br>
#홈쿡 #온더테이블 #요리스타그램<br>
𝕊𝕖𝕠𝕦𝕝 2019.07.20〜<br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/elena_kitchen_?igshid=1p5rmkhd6wflj')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">elena_kitchen_</h4>
        <hr>
        <p class="socialAccountNameDetail">
엘레나 키친🌻<br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/ej_yumyum?igshid=3ylf4eisgv07')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">ej_yumyum</h4>
        <hr>
        <p class="socialAccountNameDetail">
EJ<br>
즐겁게 요리하고 맛있게 먹는 #밥상<br>
#집밥 #홈쿡 #캐릭터밥상 #아이밥상<br>
좋아요 댓글 팔로우 감사합니다💕<br>
        </p>
        </div>


        <!--계정 추천 버튼-->
        <div style="width:20%; display: inline-table;">
            <svg onclick="location.href='accountform'" style="cursor: pointer;" fill="#404040" height="30" viewBox="0 0 512 512"  xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/></svg>
            <a style="display: table-cell; vertical-align: middle; font-size:12px;">관심 유튜브를 추가하세요!</a>
        </div>
    </div>
    <p></p>


    </div>
{% endblock %}