{% extends 'base.html' %}

{% block content %}
<div>
            <a class="category">
                <p onClick="location.href='art'" class="cursor">미술</p>
                <p onClick="location.href='craft'" class="cursor">공예</p>
                <p onClick="location.href='workout'" class="cursor">운동</p>
                <p onClick="location.href='musicdance'" class="cursor">음악/댄스</p>
                <p onClick="location.href='instrument'" class="cursor">악기</p>
                <p onClick="location.href='cook'" class="cursor">요리</p>
                <p onClick="location.href='homecafe'" class="cursor">홈카페</p>
                <p onClick="location.href='movies'" class="cursor">영화감상</p>
                <p onClick="location.href='books'" class="cursor">독서</p>
                <p onClick="location.href='etc'" class="cursor" style="color: #6E6CBF; font-weight:bold;">기타</p>
                <p onClick="location.href='accountform'" class="cursor">계정 추천</p>
            </a>
    </div>
<div class="slideshow-container">
    <button style="width: 15%;" class="categorybutton">다이어리 꾸미기</button>
    <button class="socialAccountButton" onclick="document.getElementById('etc01').style.display=(document.getElementById('etc01').style.display=='block') ? 'none' : 'block';">
        >
    </button>
    <p></p>

<!--유튜브-->

    <p></p>
    <div style="width:100%; display: none;" id="etc01">


    <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://www.youtube.com/channel/UC2S0bOOMSf23q_XnNNZsXxw')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnjZ5tO3A6HP8W13HDD-fJjBfT0i2E9-JDxNHLP6=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">페페PEPE</h4>
        <hr>
        <p class="socialAccountNameDetail">
* Follow me!<br>
Instagram @thedaypepefindslove<br>
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('주소')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="이미지주소">
            </yt-img-shadow>
        <h4 class="socialAccountName">이름</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('주소')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="이미지주소">
            </yt-img-shadow>
        <h4 class="socialAccountName">이름</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>

<!--인스타-->
        <p></p>
<!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/ralla.ong?igshid=132dlkf8cziuj')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">ralla.ong</h4>
        <hr>
        <p class="socialAccountNameDetail">
ꕤ 랄라옹 ꕤ<br>
◆스꾸 계정 → @ralla.ong.ggu<br>
◆서포터즈 : 멜리팩토리, 뇨니뇨니스튜디오, 이널<br>
◆조잘조잘 옹튜브🌼<br>
www.youtube.com/c/rallaOng<br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/pompomhanharu?igshid=z592einwn682')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">pompomhanharu</h4>
        <hr>
        <p class="socialAccountNameDetail">
폼폼한하루 ♡ ‧˚₊<br>
11월 미틈달 두번째 상점 11월 26일 오후 8시🚪🤍<br>
⠀<br>
큐티러블리 fෆr yෆu ꔛ🏷<br>
〰️ fෆr me 포미들과 함께하는<br>
아기토끼 폼폼이와 다람쥐 하루찌의 나날들🍃<br>
instabio.cc/pompomhanharu<br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/mandu_monkey?igshid=86nc9rgj6shd')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">mandu_monkey</h4>
        <hr>
        <p class="socialAccountNameDetail">
만두몽키<br>
#stationery #handlettering #drawing<br>
낮에는 직장인, 밤에는 만몽샵 문방구 쎄-오<br>
🌵소소하고 귀여운 것이 좋아. ٩(๑˃̵ᴗ˂̵)و<br>
💌eun1533@naver.com<br>
👇 S T O R E ♥️<br>
m.smartstore.naver.com/manmong<br>
        </p>
        </div>



        <!--계정 추천 버튼-->
        <div style="width:20%; display: inline-table;">
            <svg onclick="location.href='accountform'" style="cursor: pointer;" fill="#404040" height="30" viewBox="0 0 512 512"  xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/></svg>
            <a style="display: table-cell; vertical-align: middle; font-size:12px;">관심 유튜브를 추가하세요!</a>
        </div>
    </div>
    <p></p>




    <button style="width: 15%;" class="categorybutton">주식투자</button>
    <button class="socialAccountButton" onclick="document.getElementById('etc02').style.display=(document.getElementById('etc02').style.display=='block') ? 'none' : 'block';">
        >
    </button>
    <p></p>

<!--유튜브-->

    <p></p>
    <div style="width:100%; display: none;" id="etc02">


    <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://m.youtube.com/channel/UCsJ6RuBiTVWRX156FVbeaGg')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwniocjP5i1bsH8QNRlHQ_HAoY6EHoTjd_XoMYFVL=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">슈카월드</h4>
        <hr>
        <p class="socialAccountNameDetail">
각종 문의 : syukaworld@sandboxnetwork.net 으로 부탁드립니다.<br>
경제, 금융을 기반으로 달리는 방송!<br>
정치는 아주. 전혀. 대단히. 모릅니다. <br>
누군가를 비판하거나 비난하지 않도록 노력하겠습니다.<br>
실수가 있더라도 너그럽고 재미있게 봐주세요.<br>
감사합니다.<br>
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('주소')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="이미지주소">
            </yt-img-shadow>
        <h4 class="socialAccountName">이름</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('주소')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="이미지주소">
            </yt-img-shadow>
        <h4 class="socialAccountName">이름</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>

<!--인스타-->
        <p></p>
<!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/kkangstar777?igshid=tdzoow4bzibb')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">kkangstar777</h4>
        <hr>
        <p class="socialAccountNameDetail">
happyfamily_s.y.s.d<br>
🔺️행복한가족👨‍👩‍👧‍👦 기록•매매일지•성실하게•초심지키며!<br>
😊 '벼는 익을수록 고개를 숙인다'20200812'간절함'<br>
🌶_상승은빠르다_다된다! 다할수있다!열심히공부🌻<br>
📈#주식#주식투자#주식성공투자#주식공부#주식스타그램#스캘핑#스캘퍼#단타#스윙#종베#시황#데이트레이딩<br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/yong_stock_?igshid=s5dl875xuh57')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">yong_stock_</h4>
        <hr>
        <p class="socialAccountNameDetail">
yong_stock_<br>
#주식<br>
#전업투자<br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/oh.luv21?igshid=81khrplsevxl')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">oh.luv21</h4>
        <hr>
        <p class="socialAccountNameDetail">
oh.luv21<br>
주식하는 여자📈<br>
#매매일지<br>
#주식<br>
#주식스타그램<br>
#오늘이슈<br>
        </p>
        </div>



        <!--계정 추천 버튼-->
        <div style="width:20%; display: inline-table;">
            <svg onclick="location.href='accountform'" style="cursor: pointer;" fill="#404040" height="30" viewBox="0 0 512 512"  xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/></svg>
            <a style="display: table-cell; vertical-align: middle; font-size:12px;">관심 유튜브를 추가하세요!</a>
        </div>
    </div>
    <p></p>



</div>
{% endblock %}