{% extends 'base.html' %}

{% block content %}
<div>
            <a class="category">
                <p onClick="location.href='art'" class="cursor">미술</p>
                <p onClick="location.href='craft'" class="cursor">공예</p>
                <p onClick="location.href='workout'" class="cursor">운동</p>
                <p onClick="location.href='musicdance'" class="cursor">음악/댄스</p>
                <p onClick="location.href='instrument'" class="cursor">악기</p>
                <p onClick="location.href='cook'" class="cursor">요리</p>
                <p onClick="location.href='homecafe'" class="cursor" style="color: #6E6CBF; font-weight:bold;">홈카페</p>
                <p onClick="location.href='movies'" class="cursor">영화감상</p>
                <p onClick="location.href='books'" class="cursor">독서</p>
                <p onClick="location.href='etc'" class="cursor">기타</p>
                <p onClick="location.href='accountform'" class="cursor">계정 추천</p>
            </a>
    <div class="slideshow-container">


<!--유튜브-->

    <p></p>
    <div style="width:100%">


    <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://m.youtube.com/channel/UCKUFv2f_NgArl0HvkdyugqA')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnjz7-nBW82R9kk0zjByzOTm33yCm1V5jRB6P5pf0w=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">커픽처스 coffictures</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명카페 메뉴 레시피, 카페 창업, 카페에 대한 소소한 이야기
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://m.youtube.com/channel/UC85mXeWRaycnlFmrhBdaAlg')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwng3ndsgD4ijYXsBT-9O2NVXgbP-F0rrLf9WuvUO=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">남자커피 Namja Coffee</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명안녕하세요 커피와 음료를 사랑하는 남자커피 입니다!!<br>
<br>
집에서 쉽게 만들수있는 음료 레시피 소개와<br>
<br>
재미있는 커피상식들을 알려 드리고 싶어 운영하는 채널입니다.<br>
<br>
부족할수있지만 재미있게 봐주세요!!<br>
<br>
문의 - bakasa0817@gmail.com<br>
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://m.youtube.com/channel/UCdNO4ZD-YlnrfOmfuNmuBCw')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwni6kJZKCDunBHqyaaosY-CEY3607tE4GO6X4UPS6w=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">바리스타커플BaristaCouple</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명안녕하세요 ! 바리스타커플입니다. 💑<br>
주로 라떼아트 홈카페 영상을 컨텐츠로 하고 있어요.<br>
<br>
많이 부족하지만 더 좋은 영상 업로드를 위해 노력하겠습니다!<br>
커피를 사랑하는 사람들 모두 좋은 정보를 얻어 가시길🙏🏻 감사합니다.<br>
<br>
* 핸드드립<br>
* 라떼아트<br>
* 음료 레시피<br>
* 카페투어 VLOG<br>
        </p>
        </div>


        <!--인스타-->
        <p></p>
<!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/h.cafe_sunjoo?igshid=15jbilj9eu368')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">h.cafe_sunjoo</h4>
        <hr>
        <p class="socialAccountNameDetail">
homecafe sunjoo ☕️<br>
☾ ⋆*･ﾟ:⋆*･ﾟ:⠀ *⋆.*:･ﾟ .: ⋆*･ﾟ: .⋆<br>
모든 문의는 DM ✨<br>
⠀<br>
Do you want to come see my Vlog?<br>
youtu.be/lLVRgLVYHuw<br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/y.na__?igshid=eck4ogkb2e21')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">y.na__</h4>
        <hr>
        <p class="socialAccountNameDetail">
y.na__<br>
📖 #나만의시크릿홈카페 저자<br>
_ my secret homecafe book (korean ver.)<br>
🐿 TikTok : y.na__<br>
📽 youtube : y.na homecafe 👇<br>
youtu.be/6Jd3cKH_ICM<br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/chacha.gram?igshid=1pswcit7k6ogk')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">chacha.gram</h4>
        <hr>
        <p class="socialAccountNameDetail">
ᴄʜᴀ ᴄʜᴀ<br>
잘먹고 잘사는 차차네👩🏻‍🍳<br>
⠀<br>
5251209.blog.me<br>
        </p>
        </div>


        <!--계정 추천 버튼-->
        <div style="width:20%; display: inline-table;">
            <svg onclick="location.href='accountform'" style="cursor: pointer;" fill="#404040" height="30" viewBox="0 0 512 512"  xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/></svg>
            <a style="display: table-cell; vertical-align: middle; font-size:12px;">관심 유튜브를 추가하세요!</a>
        </div>
    </div>
    <p></p>


    </div>
{% endblock %}