{% extends 'base.html' %}

{% block content %}
<div>
            <a class="category">
                <p onClick="location.href='art'" class="cursor">미술</p>
                <p onClick="location.href='craft'" class="cursor">공예</p>
                <p onClick="location.href='workout'" class="cursor">운동</p>
                <p onClick="location.href='musicdance'" class="cursor">음악/댄스</p>
                <p onClick="location.href='instrument'" class="cursor" style="color: #6E6CBF; font-weight:bold;">악기</p>
                <p onClick="location.href='cook'" class="cursor">요리</p>
                <p onClick="location.href='homecafe'" class="cursor">홈카페</p>
                <p onClick="location.href='movies'" class="cursor">영화감상</p>
                <p onClick="location.href='books'" class="cursor">독서</p>
                <p onClick="location.href='etc'" class="cursor">기타</p>
                <p onClick="location.href='accountform'" class="cursor">계정 추천</p>
            </a>
    </div>
<div class="slideshow-container">
    <button style="width: 15%;" class="categorybutton">통기타 / 일렉기타</button>
    <button class="socialAccountButton" onclick="document.getElementById('intrument01').style.display=(document.getElementById('intrument01').style.display=='block') ? 'none' : 'block';">
        >
    </button>
    <p></p>

<!--유튜브-->

    <p></p>
    <div style="width:100%; display: none;" id="intrument01">


    <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://www.youtube.com/user/EmotionalAZ')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnh-cDgiGCW_qGu2vCGHbiAUbkz5Ha3SLstnnWRaRA=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">Emotional Guitarist AZ</h4>
        <hr>
        <p class="socialAccountNameDetail">
Emotional Guitarist AZ<br>
Professional Guitarist / 레코딩 세션 / 레슨 / 유튜버<br>
일본 기타리스트 팀 G.O.D. 멤버<br>
<br>
기타 레슨 문의 : https://blog.naver.com/hollymaster/220828787609<br>
<br>
AZ Twitter(KR) - https://twitter.com/AZ_Guitarist<br>
AZ Twitter(JP) - https://twitter.com/AZ_arp124<br>
AZ Instagram - https://www.instagram.com/az_guitarist<br>
AZ Blog(KR) - https://blog.naver.com/hollymaster<br>
AZ Youtube - https://youtube.com/c/EmotionalAZ<br>
AZ Youtube(Old) - https://www.youtube.com/user/LiaxySound<br>
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://www.youtube.com/c/MartyMusic')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnjNODPbn-783b03TsarkGs1v81CgMNUT2cO_a5mVQ=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">Marty Music</h4>
        <hr>
        <p class="socialAccountNameDetail">
Marty Music is the premier destination for guitar instruction on YouTube. Host Marty Schwartz is a modern classic who combines his love and knowledge of music to help others improve their musical abilities. With everything from guitar lessons to gear reviews Marty will help strengthen your musical muscles.<br>
<br>
https://www.patreon.com/MartyMusic<br>
http://www.instagram.com/martyschwartz<br>
http://www.twitter.com/martyschwartz<br>
http://www.facebook.com/martyschwartzofficial<br>
http://www.MartyMusic.com<br>
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://www.youtube.com/user/RussianBlueification')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwngJS5SjcntYdr-99qpFL6KSqr8xukpDbzi4VOXsBg=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">기타치는 김형태</h4>
        <hr>
        <p class="socialAccountNameDetail">
안녕하세요 김형태 입니다.<br>
<br>
기타 잘 치기 정말 어렵죠? 네 정말 어렵습니다.<br>
<br>
저는 15년 넘게 기타를 치고 있지만 아직도 어렵습니다.<br>
<br>
처음에는 기타를 시작할 때 짧게 짧게 레슨을 받은 적이 있지만 그리 머리에 남는 건 별로 없더라구요<br>
<br>
그래서 그냥 혼자 했습니다. 책도 많이 사서 보고 영상도 많이 찾아서 보고...<br>
<br>
사실 많이 돌아온 셈입니다. 돈을 많이 들여서 레슨을 꾸준히 받으면 지금보다 더 실력이 있었을 수도 있었겠죠<br>
<br>
하지만 모든 것이 가정입니다. 악기는 머리보다는 손으로 하는 기술이니까요.<br>
<br>
지식이 필요하지만 결국 연습만이 답입니다.<br>
<br>
원포인트기타는 그동안 제가 고민하고 씨름하면서 얻은 지식과 노하우를<br>
<br>
여러분께 알려드리는 전문기타레슨 채널입니다.<br>
<br>
어쿠스틱기타와 일렉기타 초급, 중급 레슨이 업로드 되어 있어서 필요에 맞게 찾아보시면 되겠습니다.<br>
<br>
간간히 CCM 레슨 영상도 있으니 필요하신 분들에게 되움이 되었으면 좋겠습니다.<br>
<br>
원포인트 기타를 잘 이용하는 방법은 다음과 같습니다.<br>
<br>
1. 레슨강의를 처음부터 끝까지 편한 마음으로 본다.<br>
2. 강의에 나오는 연습내용을 완벽히 마스터한다.<br>
3. 다음 강의로 넘어간다.<br>
4. 궁금한 점은 댓글로 물어본다.<br>
<br>
악기 연습은 모든 악기가 같습니다. 많은 곡을 연주하는 것보다 한 곡 한 곡을 정확히 마스터하는 것이 중요합니다.<br>
<br>
시간도 많이 들고, 노력도 많이 들고, 돈도 많이 드는 기타레슨이지만<br>
<br>
원포인트기타가 여러분의 길고 힘든 여정에 든든한 친구가 되길 바랍니다.<br>
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://www.youtube.com/user/mrleee01')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnhoCilo-aYsznE2TuNJ0UwN9-RX6OGvsDVg2kmY=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">해피엠기타 이화균</h4>
        <hr>
        <p class="socialAccountNameDetail">
마포구 상암동 기타레슨, 연주활동을 하고 있습니다.
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://www.youtube.com/user/HwangYongWoo')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwngF8IdahDXDH_NsrDYIVwdbovKis0tE8fniz-u-FmM=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">황용우</h4>
        <hr>
        <p class="socialAccountNameDetail">
황선생기타교실<br>
010-2612-8129
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='https://www.youtube.com/channel/UC9AZOV7EiHCWMlZajXiuU4Q';" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwngkB3KdtEGdpL9tazTZWRDihME2VrI-5PFVa0zr=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">꿀잼기타 Honeyjam guitar</h4>
        <hr>
        <p class="socialAccountNameDetail">
“쉽고 정확하고 재밌게”꿀잼기타입니다<br>
        </p>
        </div>


        <!--인스타-->
        <p></p>
<!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/grabtheguitar?igshid=18ak8f0fis6fs')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">grabtheguitar</h4>
        <hr>
        <p class="socialAccountNameDetail">
그랩더기타 (Grab The Guitar)<br>
📻 acoustic guitar<br>
🎼 love music life<br>
📽 youtube channel<br>
<br>
👇악보&기타&악세서리<br>
www.grabtheguitar.com<br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/caffeineguitar?igshid=rcysz4vhmesq')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">caffeineguitar</h4>
        <hr>
        <p class="socialAccountNameDetail">
카페인기타<br>
유튜버 카페인기타 CaffeineGuitar Official<br>
타브 악보는 아래 사이트 클릭 :)<br>
www.caffeineguitar.com<br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/u_jineeee_?igshid=1ev4mkca9qjbk')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">u_jineeee_</h4>
        <hr>
        <p class="socialAccountNameDetail">
Yujin 유진<br>
레슨, 협찬, 광고 등의 모든 문의는 DM으로 받습니다<br>
🌊<br>
Māre @mare_band_official<br>
Another me @sa_u_official<br>
www.youtube.com/c/YUJINGUITAR<br>
        </p>
        </div>


        <!--계정 추천 버튼-->
        <div style="width:20%; display: inline-table;">
            <svg onclick="location.href='accountform'" style="cursor: pointer;" fill="#404040" height="30" viewBox="0 0 512 512"  xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/></svg>
            <a style="display: table-cell; vertical-align: middle; font-size:12px;">관심 유튜브를 추가하세요!</a>
        </div>
    </div>
    <p></p>



    <button style="width: 15%;" class="categorybutton">우쿠렐러</button>
    <button class="socialAccountButton" onclick="document.getElementById('intrument02').style.display=(document.getElementById('intrument02').style.display=='block') ? 'none' : 'block';">
        >
    </button>
    <p></p>

<!--유튜브-->

    <p></p>
    <div style="width:100%; display: none;" id="intrument02">


    <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://www.youtube.com/channel/UCll3P_5vLt2lOlIq0G-9Ysw')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnjrmsUh3XWh_bhZBRpkXKK0dxK_tDpFCAQpO1sb=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">찬미소리</h4>
        <hr>
        <p class="socialAccountNameDetail">

        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://www.youtube.com/c/melodykitchen')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnjvDhvsYSyAo53ySbfS2sKPde9_x8N9qybT6d0r=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">멜로디키친 Melody Kitchen</h4>
        <hr>
        <p class="socialAccountNameDetail">
우쿨렐레와 아코디언, 그리고 다양한 음악과 함께 일상의 소소한 행복을 누리는 음악치료사 OD 의 유투브 채널 입니다 :)
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://www.youtube.com/c/Ajoylive')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwngo7hokvsDSLVNUj3So_1Ok0UR8xBdmo_9Owgjo=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">Ajoy</h4>
        <hr>
        <p class="socialAccountNameDetail">
        </p>
        </div>


        <!--인스타-->
        <p></p>
<!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/yoshinous?igshid=1slyw8ijqi0ln')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">yoshinous</h4>
        <hr>
        <p class="socialAccountNameDetail">
yoshi / singing with ukulele<br>
花城よしの<br>
Okinawan, Now in Melbourne<br>
Ukulele @enyamusicofficial<br>
DM directly for Inquiries!<br>
linktr.ee/yoshinous<br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/reia88?igshid=fve7avkccs6l')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">reia88</h4>
        <hr>
        <p class="socialAccountNameDetail">
Reia Yanai<br>
柳井 麗亜です。<br>
「れーあ」と呼んでください♪<br>
ウクレレにハマってしまったので暫くはウクレレの投稿多めな予感……<br>
2020.4～ツインリンクもてぎエンジェル22期生<br>
2019.3～2020.3第57代ミス駒子<br>
ウクレレコンテストに応募するためにYouTubeはじめました！応援宜しくお願いします☆<br>
www.youtube.com/channel/UCP_lWqk8eVYzasIhaOnLtfQ<br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('주소')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">아이디</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>


        <!--계정 추천 버튼-->
        <div style="width:20%; display: inline-table;">
            <svg onclick="location.href='accountform'" style="cursor: pointer;" fill="#404040" height="30" viewBox="0 0 512 512"  xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/></svg>
            <a style="display: table-cell; vertical-align: middle; font-size:12px;">관심 유튜브를 추가하세요!</a>
        </div>
    </div>
    <p></p>



    <button style="width: 15%;" class="categorybutton">피아노</button>
    <button class="socialAccountButton" onclick="document.getElementById('intrument03').style.display=(document.getElementById('intrument03').style.display=='block') ? 'none' : 'block';">
        >
    </button>
    <p></p>

<!--유튜브-->

    <p></p>
    <div style="width:100%; display: none;" id="intrument03">


    <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://m.youtube.com/channel/UC6Yyt4u65wqf4PxRUm8Zmpg')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnhKOnKZ18U1iDVMnizf68m2mLGet74rXduLJIsn=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">라라의 피아노 스튜디오</h4>
        <hr>
        <p class="socialAccountNameDetail">
피아노를 배우고 싶은 피아노 초급, 중급분들을 위해 만든<br>
클래식 피아니스트 라라의 채널입니다.<br>
코드 반주법과 피아노 연주법에 대한 팁과<br>
간단한 개인 연주영상을 올릴 예정입니다.<br>
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://www.youtube.com/c/JuliaEugene의CCM반주TV')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnhOwu-x6xG7m65QH86SX-Ru0okkveduyiRVZ2kb=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">Julia & Eugene 의 CCM 반주 TV</h4>
        <hr>
        <p class="socialAccountNameDetail">

        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://www.youtube.com/channel/UCppps5TrYuClK5Hq02HxbRQ')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnjkUgz7ZBr0llh7-MWgTapq3t-V6xZbamyIT3s5=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">[더뮤직스쿨 ] 피아노 독학/피아노 배우기</h4>
        <hr>
        <p class="socialAccountNameDetail">
더뮤직스쿨에서 운영하는 피아노 곡별 레슨  / 피아노 연주영상 채널입니다. (피아노독학, 피아노배우기, 피아노강좌, 피아노기초, 피아노학원)<br>
▶더뮤직스쿨: www.themusicschoo.co.kr<br>
        </p>
        </div>


        <!--인스타-->
        <p></p>
<!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/pddm_official?igshid=1lgy2e2lwisyr')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">pddm_official</h4>
        <hr>
        <p class="socialAccountNameDetail">
똑똑쓰_Official<br>
박똑똑 뮤직🎵 작곡가<br>
#작곡,#피아노 레슨,악보문의📩<br>
너튜브<br>
youtu.be/323upgrjMso<br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/pianoaram?igshid=qskoxh8w0i25')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">pianoaram</h4>
        <hr>
        <p class="socialAccountNameDetail">
문아람<br>
🇰🇷피아노아람ㅣpianoaram<br>
✨<br>
www.youtube.com/c/arampiano<br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/pianoplayer.elijah?igshid=8pbxsdi960ra')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">pianoplayer.elijah</h4>
        <hr>
        <p class="socialAccountNameDetail">
Elijah Lee 이정환<br>
Kurzweil Artist<br>
a professional social distancer<br>
www.youtube.com/user/ImLlijah<br>
        </p>
        </div>


        <!--계정 추천 버튼-->
        <div style="width:20%; display: inline-table;">
            <svg onclick="location.href='accountform'" style="cursor: pointer;" fill="#404040" height="30" viewBox="0 0 512 512"  xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/></svg>
            <a style="display: table-cell; vertical-align: middle; font-size:12px;">관심 유튜브를 추가하세요!</a>
        </div>
    </div>
    <p></p>




    <button style="width: 15%;" class="categorybutton">기타</button>
    <button class="socialAccountButton" onclick="document.getElementById('intrument04').style.display=(document.getElementById('intrument04').style.display=='block') ? 'none' : 'block';">
        >
    </button>
    <p></p>

<!--유튜브-->

    <p></p>
    <div style="width:100%; display: none;" id="intrument04">


    <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://www.youtube.com/channel/UCjY1nVhBmnTj7Y7RKyK38-Q')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnhG049o8hkp1ZQLQvuceEjsKYW7KvN7JD7Lz0KU=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">춘천리코더교육연구회</h4>
        <hr>
        <p class="socialAccountNameDetail">
춘천리코더교육연구회는…<br>
<br>
1997년도에 창단된 춘천리코더앙상블을 모태로 하고 있습니다.<br>
춘천리코더앙상블 단원들이 정기 연주회 및 향상 음악회, 지역과 함께하는 봉사활동을 꾸준히  해오던 중<br>
2012년, 현직 교사들을 중심으로  ‘춘천리코더교육연구회’를 조직하게 되었습니다. <br>
<br>
초등 교육현장에서의 리코더 지도방법에 대한 고민을 서로 나누며,<br>
교사  스스로의 연주 실력 향상을 통한 연주회가 목적이기 보다는, <br>
더 나아가 학교 현장에서 학생들에게 적용하기 위한 <br>
맞춤형 지도 방안이 필요하다는 현직 교사들의 문제 제기에서 비롯된 것이었습니다.<br>
<br>
이러한 과정에서 조직된 춘천리코더교육연구회는 <br>
2012년부터 매주 1회, 퇴근 후 모여 정기 연습을 꾸준히 하며 회원 자신의 리코더 연주 실력을  향상시키기 위해 노력하고 있습니다. <br>
<br>
교사의 역량을 강화시키는 일과 더불어 교실 현장 속에서 아이들을 지도 할 때의 단계별 지도 노하우를 서로 공유하고, <br>
멘토 멘티제를 운영하여 선․후배 교사 간에 체계적인 지도 방법에 관한 연구가 이루어지고 있는 <br>
음악을 사랑하는 교사들의 모임입니다.<br>
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://www.youtube.com/c/EllenWie')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwng_XUtYKkelhlBkj0YN8RHueWuTKl-bXKP0E8QRZg=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">Ellen Wie엘렌위</h4>
        <hr>
        <p class="socialAccountNameDetail">
#엘렌위 바이올린 스튜디오: 서울시 송파구 석촌동 245-18 1층<br>
   T: 070-8161-0000<br>
#엘렌위 Blog: https://blog.naver.com/peluse<br>
#카톡아이디: 엘렌위 바이올린(문의 카톡으로 주셔도 됩니다~어떤 문의든^^)<br>
#중앙일보 라이프 트렌드 엘렌위 기사:https://news.joins.com/article/23177493<br>
<br>
안녕하세요. 바이올리니스트 엘렌위 입니다.<br>
제 유튜브에 와주셔서 감사해요. <br>
매력적인 바이올린!! 저는 누구나 바이올린을 재미있게 배웠으면 하는 목표가 있어요.<br>
제가 출판한 교재는 스즈키가 아직 어려운 아이들에게 적합한 교재에요. 스즈키 전 단계나 1, 2권시 병행하면 좋답니다.<br>
특히, 1권의 경우는 줄 하나에서만 연주가 가능하기 때문에 바이올린을 이해하기 좋아요~<br>
앞으로 올릴 영상들도 최대한 쉽고 임팩트있게..최소한의 설명으로 최대의 결과를 끌어내기 위해 !!<br>
고민하겠습니다.<br>
<br>
[엘렌위 채널이 앞으로 나아갈 방향]<br>
1.한줄 바이올린 커리큘럼 곧 시작됩니다.(나바독과는 달리 진짜 기초부터 배우는, 이보다 쉬운 곡은 없다 버전)<br>
2.오프모임(여러분을 직접 만나서 까칠매력 바이올린에 대해 배우고 얘기하는 시간 가져요~)<br>
3.음악커버(강의에 치우치다보니 연주영상이 자꾸 뒤로 밀리죠.~그래도 힘내서 해보겠습니다)<br>
<br>
많은 응원 부탁드릴게요.구독과 좋아요는 저의 파워입니다. ~<br>
<br>
비즈니스 & 콜라보레이션 문의<br>
peluse@naver.com<br>
초등 1,2학년을 위한 바이올린 스타트북(현대음악출판) <br>
http://fittifitti.blog.me/220676990422 책 소개를 보시려면 클릭해 주세요~. 구매도 많이 많이 해주세요 ^^<br>
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://m.youtube.com/channel/UCACDyE3qzd7T4twCSsqSbaQ')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwniUjwfHwoUU6zknLJXe5aNhaenRG8NkZyvh1z8a0Q=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">일산드럼 저스트드럼 - Just Drum</h4>
        <hr>
        <p class="socialAccountNameDetail">
- 일산드럼학원 드럼레슨(Drum Lesson) 드림실용음악학원 -<br>
<br>
드러머 이정명의 유튜브 채널 입니다!!<br>
<br>
레슨문의는<br>
<br>
031-975-7479 <br>
<br>
로 연락주세요 ^^     <br>
        </p>
        </div>


        <!--인스타-->
        <p></p>
<!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/hello.michelleli?igshid=evnr028zutxt')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">hello.michelleli</h4>
        <hr>
        <p class="socialAccountNameDetail">
Michelle Li<br>
▪️Boston 🇺🇸<br>
▫️<br>
▫️가끔 아무거나 연주합니다.<br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/jooyounjoo?igshid=f3mm84gut4ts')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">jooyounjoo</h4>
        <hr>
        <p class="socialAccountNameDetail">
해금studio•이화&
𝔀𝓮𝓵𝓬𝓸𝓶𝓮 𝓽𝓸 𝓶𝔂 𝓶𝓾𝓼𝓲𝓬𝔀𝓸𝓻𝓵𝓭
♛ 𝒫𝓈𝒶𝓁𝓂 𝟥𝟦:𝟧
☂️☂️☂️☂️☂️☂️
#Studio이화& 운영
www.youtube.com/channel/UCPHeU_UDPUnUMlMHd2XlEgw
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('주소')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">아이디</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>


        <!--계정 추천 버튼-->
        <div style="width:20%; display: inline-table;">
            <svg onclick="location.href='accountform'" style="cursor: pointer;" fill="#404040" height="30" viewBox="0 0 512 512"  xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/></svg>
            <a style="display: table-cell; vertical-align: middle; font-size:12px;">관심 유튜브를 추가하세요!</a>
        </div>
    </div>
    <p></p>



</div>
{% endblock %}