{% extends 'base.html' %}

{% block content %}
<div>
            <a class="category">
                <p onClick="location.href='art'" class="cursor">미술</p>
                <p onClick="location.href='craft'" class="cursor">공예</p>
                <p onClick="location.href='workout'" class="cursor">운동</p>
                <p onClick="location.href='musicdance'" class="cursor">음악/댄스</p>
                <p onClick="location.href='instrument'" class="cursor">악기</p>
                <p onClick="location.href='cook'" class="cursor">요리</p>
                <p onClick="location.href='homecafe'" class="cursor">홈카페</p>
                <p onClick="location.href='movies'" class="cursor" style="color: #6E6CBF; font-weight:bold;">영화감상</p>
                <p onClick="location.href='books'" class="cursor">독서</p>
                <p onClick="location.href='etc'" class="cursor">기타</p>
                <p onClick="location.href='accountform'" class="cursor">계정 추천</p>
            </a>
    <div class="slideshow-container">


<!--유튜브-->

    <p></p>
    <div style="width:100%">


    <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://m.youtube.com/channel/UCrBpV_pG2kyMMEHCMTNzjAQ')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnjQFN_oeyGOiSVJPGlsXczIK85XoV3wUvCi0ihAFQ=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">리뷰엉이: Owl's Review</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명영화 보고 나왔는데 정말 이해가 안 가는 것들 해설한다 부엉.<Br>
영화를 더 재밌게 볼 수 있게 도와준다 부엉.<Br>
영화에 대한 생각을 나누는 것도 환영한다 부엉.<Br>
영화 해설, 영화 리뷰<Br>
영화 뒤풀이 리뷰엉이<Br>
<Br>
비즈니스 문의 - dl_owlsreview@semicolonstudio.com<Br>
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://m.youtube.com/channel/UCaHGOzOyeYzLQeKsVkfLEGA')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnjh5wMWH4haDGkaP0en7oK_MBUFIfVVdmwk-4Tl_g=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">지무비 : G Movie </h4>
        <hr>
        <p class="socialAccountNameDetail">
설명G리는 영화&드라마 리뷰&프리뷰채널, 지무비 : G Movie <Br>
매주 토요일 오후 1시 업로드<Br>
<Br>
[지무비 공식 인스타그램] <Br>
https://www.instagram.com/G_movie__/<Br>
[지무비 개인 인스타그램] <Br>
https://www.instagram.com/awayout1/<Br>
[지무비 페이스북] <Br>
https://www.facebook.com/pg/Gmoviee<Br>
[팬 사서함]<Br>
서울특별시 강남구 테헤란로 518 15층 샌드박스 네트워크 <Br>
받는 사람명 - 지무비<Br>
[문의 이메일] <Br>
awayout2@naver.com<Br>
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://m.youtube.com/user/rladndgussla')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnjxjvDD6Ism1PVSpkAmthT8mB6dndqQuM2q6P9U=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">고몽</h4>
        <hr>
        <p class="socialAccountNameDetail">
스토리가 있는 모든 것을 이야기 하는 스토리텔러 고몽입니다.<Br>
1. 한국영화, 외국영화, 독립영화, 예술영화의 리뷰, 프리뷰, 큐레이션<Br>
2. 김시선과 함께하는 오늘밤엔이영화<Br>
3. 미국코믹스, 일본애니메이션의 소개 및 분석<Br>
4. 미드, 영드, 일드 , 한드 추천<Br>
5. 도서, 게임 스토리<Br>
6. 예능<Br>
7. 아이템소개<Br>
8. 약간의 브이로그<Br>
   <Br>
소통 및 비즈니스는 dl_gomong@semicolonstudio.com 로 연락 부탁드려요!<Br>
        </p>
        </div>


        <!--인스타-->
        <p></p>
<!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/movie_goodnight?igshid=1pb0qjmkuilqm')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">movie_goodnight</h4>
        <hr>
        <p class="socialAccountNameDetail">
무비굿나잇<Br>
_<Br>
ᴮᴸᴼᴳ<Br>
☺︎ n월의 영화: 매월 1일<Br>
☺︎ 주제별 영화 추천: 매주 토요일<Br>
_<Br>
m.blog.naver.com/gxxdmxxd<Br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/insight_movie?igshid=jmeq67d4wc0x')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">insight_movie</h4>
        <hr>
        <p class="socialAccountNameDetail">
인사이트 무비<Br>
스포주의!! 세상의 모든 영화 소식을 알려주는 인사이트 공식 인스타그램 무비 계정입니다.<Br>
www.insight.co.kr<Br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/replay_film_?igshid=kmq6ed54fszs')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">replay_film_</h4>
        <hr>
        <p class="socialAccountNameDetail">
◾️영화•드라마 모음집.Zip®️<Br>
-<Br>
◽️Movie•Drama💡<Br>
◽️⚠️📲<Br>
—————————————🎦<Br>
m.blog.naver.com/ekoko93<Br>
        </p>
        </div>


        <!--계정 추천 버튼-->
        <div style="width:20%; display: inline-table;">
            <svg onclick="location.href='accountform'" style="cursor: pointer;" fill="#404040" height="30" viewBox="0 0 512 512"  xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/></svg>
            <a style="display: table-cell; vertical-align: middle; font-size:12px;">관심 유튜브를 추가하세요!</a>
        </div>
    </div>
    <p></p>


    </div>
{% endblock %}