{% extends 'base.html' %}

{% block content %}
<div>
            <a class="category">
                <p onClick="location.href='art'" class="cursor">미술</p>
                <p onClick="location.href='craft'" class="cursor">공예</p>
                <p onClick="location.href='workout'" class="cursor">운동</p>
                <p onClick="location.href='musicdance'" class="cursor" style="color: #6E6CBF; font-weight:bold;">음악/댄스</p>
                <p onClick="location.href='instrument'" class="cursor">악기</p>
                <p onClick="location.href='cook'" class="cursor">요리</p>
                <p onClick="location.href='homecafe'" class="cursor">홈카페</p>
                <p onClick="location.href='movies'" class="cursor">영화감상</p>
                <p onClick="location.href='books'" class="cursor">독서</p>
                <p onClick="location.href='etc'" class="cursor">기타</p>
                <p onClick="location.href='accountform'" class="cursor">계정 추천</p>
            </a>

<div class="slideshow-container">


<!--유튜브-->

    <p></p>
    <div style="width:100%">


    <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://m.youtube.com/user/lovlanjin')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnhdM8mn67Xo_j27fZ44PYzvp3ZC4tAw1ZTmLFNTQA=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">춤추는이강사[Dancing Lee]</h4>
        <hr>
        <p class="socialAccountNameDetail">
안녕하세요 춤추는이강사 이란진입니다.<br>
저와 함께 몸치탈출 하세요~^^
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://m.youtube.com/channel/UC_WKnI3SagAHx3Z0ApjTo3Q')"
        title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwni4ke9SGEezx9MmivRZRvqUJzxnNOFTDv0B6hpa=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">엄마TV</h4>
        <hr>
        <p class="socialAccountNameDetail">
엄마들의 건강(Health), 행복(Happy), 라이프스타일(Life Style)을 위한 채널입니다.<br>
<br>
<br>
Instgram : 엄마티비(mothertv_)<br>
formotherstv@gmail.com<br>
<br>
#엄마티비<br>
#다이어트 댄스<br>
#댄스 다이어트<br>
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://m.youtube.com/channel/UCOZ1bDMkyW0uT73crX2S47A')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnihiFnn3MHULF_eE4hJhcsa02C1_MmXBe5klNyv5Q=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">춤선생SIMBA </h4>
        <hr>
        <p class="socialAccountNameDetail">
어떤 춤이던 쉽게 알려드리는 춤선생 Simba 입니다<br>
I am Simba, a dance teacher who can help you to learn any dance with the easiest and simplest way<br>
<br>
<br>
레슨 및 제휴 문의<br>
<br>
duenter@naver.com<br>
02-554-5022<br>
010-6478-7022<br>
<br>
카카오톡 플러스 친구 @춤선생simba<br>
<br>
https://www.instagram.com/simba_dancejoa/<br>
        </p>
        </div>


        <!--인스타-->
        <p></p>
<!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/eumplli?igshid=1rtl5zddoaqad')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">eumplli</h4>
        <hr>
        <p class="socialAccountNameDetail">
음악추천 플레이 리스트<br>
내가 좋아하는 음악 모아놓는 계정<br>
좋아하는 장르를 아래 태그로 검색해 들어보세요.<br>
#indieplli #rockplli #rnbsoulplli #popplli #balladplli #raphiphopplli<br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/danceple?igshid=1dy9zvt23yyla')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">danceple</h4>
        <hr>
        <p class="socialAccountNameDetail">
댄스플 🇰🇷<br>
🎉 서울 댄스커뮤니티 & 촬영스튜디오(dm)<br>
Studio. 사당/혜화/이대호리존<br>
Everything. DM<br>
🤴🏻👸🏻🙌😁😍<br>
Enjoy dance, enjoy life. We are Danceple!<br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/luna.player?igshid=x8va9n8j6r7e')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">luna.player</h4>
        <hr>
        <p class="socialAccountNameDetail">
Luna.player 음악 X 유머<br>
_______________ 💿 ‘유머 예능’ 모음 @nato.tving<br>
        </p>
        </div>


        <!--계정 추천 버튼-->
        <div style="width:20%; display: inline-table;">
            <svg onclick="location.href='accountform'" style="cursor: pointer;" fill="#404040" height="30" viewBox="0 0 512 512"  xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/></svg>
            <a style="display: table-cell; vertical-align: middle; font-size:12px;">관심 유튜브를 추가하세요!</a>
        </div>
    </div>
    <p></p>


    </div>
{% endblock %}