{% extends 'base.html' %}

{% block content %}
<div>
            <a class="category">
                <p onClick="location.href='art'" class="cursor">미술</p>
                <p onClick="location.href='craft'" class="cursor">공예</p>
                <p onClick="location.href='workout'" class="cursor" style="color: #6E6CBF; font-weight:bold;">운동</p>
                <p onClick="location.href='musicdance'" class="cursor">음악/댄스</p>
                <p onClick="location.href='instrument'" class="cursor">악기</p>
                <p onClick="location.href='cook'" class="cursor">요리</p>
                <p onClick="location.href='homecafe'" class="cursor">홈카페</p>
                <p onClick="location.href='movies'" class="cursor">영화감상</p>
                <p onClick="location.href='books'" class="cursor">독서</p>
                <p onClick="location.href='etc'" class="cursor">기타</p>
                <p onClick="location.href='accountform'" class="cursor">계정 추천</p>
            </a>
    </div>
    <div class="slideshow-container">
    <button style="width: 15%;" class="categorybutton">여성 홈트레이닝</button>
    <button class="socialAccountButton" onclick="document.getElementById('workout01').style.display=(document.getElementById('workout01').style.display=='block') ? 'none' : 'block';">
        >
    </button>
    <p></p>

<!--유튜브-->

    <p></p>
    <div style="width:100%; display: none;" id="workout01">


    <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://m.youtube.com/channel/UCpg89Ys3E4BaLGgEEWVmI9g')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwni3JGKV46GeWxoCBjZUtbtLdMeaZOk4TAIlCzbaVw=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">Thankyou BUBU </h4>
        <hr>
        <p class="socialAccountNameDetail">
저희 부부의 첫 운동은 홈트가 아닌 운동장 뜀박질이었습니다. 원룸에서 신혼생활을 시작했을 무렵, 건강을 챙길 여유가 없어 저는 제자리에 서서 뱃살로 발 앞꿈치가 가려질 만큼이나 배가 튀어나왔고, 오드리는 계속 건강에 적신호가 왔습니다. 그렇게 우리는 동네 운동센터에 갈 돈조차 아까워 밤마다 집앞 초등학교 운동장을 나가서 뛰었습니다.<br>
<br>
그때 생각했습니다. '집에서도 함께 할 수있는 운동은 없을까?' 홈트라는 단어조차도 낯설었던 그때 그 생각을 현실로 펼칠 수는 없었습니다. 그렇게 시간이 흘러 우리의 여유없던 신혼생활도 점차 여유를 가지게되고 그동안 제가 해왔던 운동들의 동작들을 연결하여 오드리에게 집에서도 할 수 있는 루틴을 만들어 주었습니다. 그렇게 시작한 운동과 건강에 대한 관심으로 약 7년 전 운동 홈트 블로그를 시작했습니다.  그리고 약 5년 전 부터는 유튜브 채널을 운영해오고 있습니다. Thankyou BUBU 채널은 그렇게 시작되었습니다.<br>
<br>
우리의 신혼, 그 시절 그때... 지금처럼 집에서도 따라할 수 있는 홈트 영상이 있었더라면, 우리는 굳이 어두운 밤 초등학교 운동장에서 모기에 쫒기며 뜀박질을 하지 않았을지도 모릅니다. 그리고 여유가 없었던 그 시절 시간과 돈을 아낄 수 있었을지도 모릅니다. 항상 영상을 만들때면 생각합니다. '이 영상이 조회수가 많이 올라갔으면 좋겠다가 아닌, 정말 도움이 필요한 분께 전달되었으면 좋겠다'라고...<br>
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://m.youtube.com/user/extremeknowhow')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwngf0JkKXDaCtsoOJrZkmRDtJ3wnbiCuV4vvZFRksA=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">딩고 헬스 / dingo fitness </h4>
        <hr>
        <p class="socialAccountNameDetail">
소셜 모바일 세대를 위한 미디어 딩고 Dingo의 건강 채널 딩고 헬스<br>
쉽게 따라할 수 있는 다양한 홈 트레이닝과 건강관리 팁<br>
<br>
Copyright 2015 MakeUs Co.,Ltd. All rights reserved<br>
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://www.youtube.com/channel/UC6vAqaWrNipKV3qVfpttoXw')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnibFxIoe-FpFvpltQD6DINsSNNr7LmPxpkKIWcpKQ=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">알로하써니AlohaSunny</h4>
        <hr>
        <p class="socialAccountNameDetail">
Listen to your body🌿<br>
<br>
I lost -22kg in total.<br>
Let's work out with me for your brilliant life. You can do it!!<br>
<br>
Stott Pilates Instructor<br>
<br>
Body profile<br>
Height : 167.5cm<br>
Weight : Max 68kg - Min 46kg<br>
<br>
<br>
📸Instagram @koosunjoo<br>
💌goosunju@gmail.com<br>
        </p>
        </div>


        <!--인스타-->
        <p></p>
<!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/dasolmom_?igshid=ay7ezp3lphrs')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">dasolmom_</h4>
        <hr>
        <p class="socialAccountNameDetail">
운동코치 홈트여신 다솔맘🇰🇷<br>
데일리다솔맘홈트 저자/스포츠심리학 석사<br>
협찬X공구제의X<br>
🚩아리즈웰 최저가 12월7일OPEN<br>
🔻찐홈트Youtube<br>
youtu.be/k-6_myV9X-8<br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/ch.yoooon?igshid=teb5u8efvc1k')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">ch.yoooon</h4>
        <hr>
        <p class="socialAccountNameDetail">
윤쌤홈트<br>
#습관리셋챌린지<br>
#윤쌤홈트<br>
#흥둥이홈트<br>
youtu.be/wO3XesflYjk<br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/meme_pila?igshid=1mrp6o8rmkulu')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">meme_pila</h4>
        <hr>
        <p class="socialAccountNameDetail">
미미쌤💖 필라테스강사💞<br>
🌟 #미미쌤홈트<br>
🌟 #미미쌤 #필라테스강사<br>
.<br>
💜유튜브 #미미튜브 (아래 링크 Cilk👇)💜<br>
www.youtube.com/channel/UCbsqVR_avs-LJX9Zl2RDOig<br>
        </p>
        </div>


        <!--계정 추천 버튼-->
        <div style="width:20%; display: inline-table;">
            <svg onclick="location.href='accountform'" style="cursor: pointer;" fill="#404040" height="30" viewBox="0 0 512 512"  xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/></svg>
            <a style="display: table-cell; vertical-align: middle; font-size:12px;">관심 유튜브를 추가하세요!</a>
        </div>
    </div>
    <p></p>



    <button style="width: 15%;" class="categorybutton">남성 홈트레이닝</button>
    <button class="socialAccountButton" onclick="document.getElementById('workout02').style.display=(document.getElementById('workout02').style.display=='block') ? 'none' : 'block';">
        >
    </button>
    <p></p>

<!--유튜브-->

    <p></p>
    <div style="width:100%; display: none;" id="workout02">


    <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://m.youtube.com/channel/UCdtRAcd3L_UpV4tMXCw63NQ ')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnibOKGJfh20pgy4YcNK4MJ7hXiIMCjHVolvmflm=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">피지컬갤러리</h4>
        <hr>
        <p class="socialAccountNameDetail">
재밌고 유익한 체형교정과 재활 정보를 알려주는 빡빡이 아저씨를 볼 수 있는 채널.<br>
<br>
제공되는 정보들은 의학적 진단, 진료 혹은 치료를 대신하려는 목적이 아니며, 건강상태에 관한 의문점이나 걱정이 있다면 실제 전문의사/전문가를 찾아 진단을 받아야 합니다.<br>
<br>
100k 2018 04 09<br>
200k 2018 06 30<br>
450k 2018 12 28<br>
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://www.youtube.com/c/바벨라토르홈트레이닝')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwngjvLqFiuDV2lKV0_g348O7t2SudhpvMOvrAQAy2g=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">바벨라토르 홈트레이닝</h4>
        <hr>
        <p class="socialAccountNameDetail">
아시아 턱걸이챔피언 & 세계 턱걸이기네스 보유자<Br>
리쌤과 함께하는 홈트레이닝 브랜드<Br>
<Br>
CONTACT: barbellator@naver.com<Br>
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://www.youtube.com/c/준규빌더')"
        title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnj4_XrGh8tDdnzUq1bv-w24eYQysmO4YOHGqAfU=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">준규빌더</h4>
        <hr>
        <p class="socialAccountNameDetail">
        </p>
        </div>


        <!--인스타-->
        <p></p>
<!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/hotpapa_homt?igshid=prw098q0fjl6')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">hotpapa_homt</h4>
        <hr>
        <p class="socialAccountNameDetail">
핫파파홈트 (홈트레이닝,운동,다이어트,몸짱 정보)<br>
•CSCS(국제 공인 근력컨디셔닝 전문가)<br>
•NSCA-CPT(국제 공인 퍼스널트레이너)<br>
⠀<br>
•2007 Mr.Seoul -85kg🥈<br>
•2004 서울시장배 보디빌딩대회🥇<br>
<br>
협업 DM📩<br>
<br>
🎈핫파파 온라인PT🎈<br>
바디프로필반 - 3기 모집 12월 중순 OPEN<br>
👇<br>
link.inpock.co.kr/hotpapa_homt<br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/914_hongunni?igshid=192uuv769c43z')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">914_hongunni</h4>
        <hr>
        <p class="socialAccountNameDetail">
PT문의 카톡 : fitness914
유튜브 검색 ➡️ 홍언니
⬇️ 프리모 알파웨이(단백질) 이벤트 링크
m.smartstore.naver.com/consulting914/products/5232019718
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('주소')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">아이디</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>


        <!--계정 추천 버튼-->
        <div style="width:20%; display: inline-table;">
            <svg onclick="location.href='accountform'" style="cursor: pointer;" fill="#404040" height="30" viewBox="0 0 512 512"  xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/></svg>
            <a style="display: table-cell; vertical-align: middle; font-size:12px;">관심 유튜브를 추가하세요!</a>
        </div>
    </div>
    <p></p>



    <button style="width: 15%;" class="categorybutton">PT 기구 사용법</button>
    <button class="socialAccountButton" onclick="document.getElementById('workout03').style.display=(document.getElementById('workout03').style.display=='block') ? 'none' : 'block';">
        >
    </button>
    <p></p>

<!--유튜브-->

    <p></p>
    <div style="width:100%; display: none;" id="workout03">


    <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://www.youtube.com/channel/UCB7A0Php3CJg4uH4HavVy-w')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwni2QkRiVcjTTtiZn_1rEW7fQYCE342a3p6WB1pL=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">고러쉬</h4>
        <hr>
        <p class="socialAccountNameDetail">
이 세상 모든 헬린이들의 대통령이 되겠다.<br>
운동유튜버 고러쉬의 도전!!!!<br>
따라하기 운동들(풀버전) 부터 개개별의 운동들을 쉽고, 친밀감 있게 설명해드릴게요.<br>
믿고 구독하고 몸도 커지고 살도 빼고 다 하자 우리 헬린이들아!!<br>
<br>
인스타 : gorush_<br>
온라인PT는 https://coachwa.co.kr/coach/3<br>
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://www.youtube.com/channel/UCLgfDUoI2FOVp7IT43ctlRA')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwniSxtXikIMvBjkgmye5rTfNxXoE63eE8N7xIlQI=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">프롬바디TV</h4>
        <hr>
        <p class="socialAccountNameDetail">
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://www.youtube.com/channel/UC_62M92JecwWLzONHtQ7eZA')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnjg0l40j6RdS-UZxhAuVUeIbrg6mmwzAr12PGy5=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">택군TV SangTaek</h4>
        <hr>
        <p class="socialAccountNameDetail">
#헬스장운동법 #홈트레이닝 #운동루틴 <br>
<br>
쉽고 디테일한 굿퀄 운동정보를 알려드립니다 !!^^<br>
        </p>
        </div>


        <!--인스타-->
        <p></p>
<!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/physical_gallery_egg?igshid=goiwsmtt5r18')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">physical_gallery_egg</h4>
        <hr>
        <p class="socialAccountNameDetail">
김계란<br>
DM은 확인하지 않습니다 😭<br>
빡텐션 구매링크<br>
bbak.kr<br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/horseking123?igshid=zn4dbmh9lncp')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">horseking123</h4>
        <hr>
        <p class="socialAccountNameDetail">
말왕<br>
@horsebong<br>
hello #말왕 #유튜버<br>
bit.ly/horsekingtv<br>
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="window.open('https://instagram.com/triggergym?igshid=yy9xc7yzw9fv')" title="">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">triggergym</h4>
        <hr>
        <p class="socialAccountNameDetail">
트리거짐 (유튜브 : 트리거15초)<br>
트리거짐정보 & 마이프로틴,미트리 할인링크!<br>
linktr.ee/triggergym<br>
        </p>
        </div>


        <!--계정 추천 버튼-->
        <div style="width:20%; display: inline-table;">
            <svg onclick="location.href='accountform'" style="cursor: pointer;" fill="#404040" height="30" viewBox="0 0 512 512"  xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/></svg>
            <a style="display: table-cell; vertical-align: middle; font-size:12px;">관심 유튜브를 추가하세요!</a>
        </div>
    </div>
    <p></p>



    </div>
{% endblock %}