{% extends 'base.html' %}

{% block content %}
<div>
            <a class="category">
                <p onClick="location.href='art'" class="cursor">미술</p>
                <p onClick="location.href='craft'" class="cursor">공예</p>
                <p onClick="location.href='workout'" class="cursor">운동</p>
                <p onClick="location.href='musicdance'" class="cursor">음악/댄스</p>
                <p onClick="location.href='instrument'" class="cursor">악기</p>
                <p onClick="location.href='cook'" class="cursor">요리</p>
                <p onClick="location.href='homecafe'" class="cursor">홈카페</p>
                <p onClick="location.href='movies'" class="cursor">영화감상</p>
                <p onClick="location.href='books'" class="cursor">독서</p>
                <p onClick="location.href='etc'" class="cursor">기타</p>
            </a>
    </div>
    <div class="slideshow-container">
    <button style="width: 15%;" class="categorybutton">여성 홈트레이닝</button>
    <p></p>
    <button style="width: 15%;" class="categorybutton">남성 홈트레이닝</button>
    <p></p>
    <button style="width: 15%;" class="categorybutton">PT 기구 사용법</button>
    <p></p>
    </div>
{% endblock %}