@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
  font-family: "Noto Sans KR", sans-serif !important;
}
#base_box{
    width: 1280px; margin: 0 auto;
    margin-top: 10px;
}

.logostyle {
    font-size: 50px;
    color: #6E6CBF;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: bold;
    /*display: flex;*/
}

.logo {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
}


.logo-box {
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 1px 0px, rgba(41, 42, 43, 0.16) 0px 1px 3px 0px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    z-index: 1901;
    flex: 1 1 380px;
    border-radius: 3px;
    overflow: hidden;
}

.logo-search {
    height: 40px;
    width: 100%;
    padding-left: 16px;
    font-size: 14px;
    color: rgb(27, 28, 29);
    background-color: rgb(255, 255, 255);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    flex: 1 1 0%;
}

.category{
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.3px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(27, 28, 29);
    margin: 0px 30px 0px 30px;
    height: 50px;
    justify-content: space-between;
}

.cursor{
    cursor: pointer;
}
/*커서에 마우스 올렸을 때 색상 변경*/
.cursor:hover{color: #6E6CBF}
.tr:hover{background: rgba(110, 108, 191, 0.1)}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1160px;
  position: relative;
  margin: 0px 30px 0px 55px;
  padding-top:20px;
}

.slideshow-container2 {
  /*max-width: 1160px;*/
  position: relative;
    margin: 0px 30px 0px 30px;
  padding-top:20px;
}
.slideshow-container3 {
  max-width: 1160px;
  position: relative;
    margin: 0px 30px 0px 30px;
}

.prev, .next {
  cursor: pointer;
  /*position: absolute;*/
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
}




.prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;

  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
}


.next {
  right: 0%;
}

.next2 {
  right: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.homebutton {
    color:white;
    background:#404040;
    cursor:pointer;
    height:40px;
    border-style:initial;
    width:20%;
    border-radius:37px;
}

.categorybutton {
    color:white;
    background:#404040;
    height:40px;
    border-style:initial;
    width:20%;
    border-radius:3px;
}

.bordbutton {
    /*color:white;*/
    /*background:#6E6CBF;*/
    height:40px;
    border-style:initial;
    width:10%;
    border-radius:3px;
}

.login_form {
    clear: both;
}
fieldset, img {
    border: 0;
}
.id_area, .pw_area {
    position: relative;
}
.input_row {
    position: relative;
    margin-bottom: 8px;
    padding: 7px 35px 10px 11px;
    border: solid 1px #dadada;
    background: #fff;
}
.input_box {
    display: block;
    overflow: hidden;
}
.lbl {
    font-size: 15px;
    line-height: 16px;
    position: absolute;
    z-index: 8;
    top: 16px;
    left: 15px;
    color: #8e8e8e;
}
.int {
    font-size: 14px;
    line-height: 16px;
    position: relative;
    z-index: 9;
    width: 100%;
    height: 16px;
    padding: 8px 0 6px;
    color: #000;
    border: none;
    background: #fff;
    -webkit-appearance: none;
}
.wrg {
    position: absolute;
    z-index: 1000;
    top: 50%;
    right: 11px;
    display: none;
    overflow: hidden;
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
    margin-top: -9px;
    cursor: pointer;
    border: 0;
    background-image: url(https://ssl.pstatic.net/static/nid/login/pc_qr_once.png);
    background-position: -100px -37px;
    background-repeat: no-repeat;
    -webkit-background-size: 170px 150px;
    background-size: 170px 150px;
    background-color: transparent;
}

.btn_global, .btn_login input, .btn_qronce_cancel {
    display: block;
    width: 50%;
    height: 56px;
    line-height: 55px;
    margin: 12px 0 14px;
    border-radius: 0;
    border: solid 1px rgba(0,0,0,.1);
    background-color: #404040;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.5px;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
}

.check_info {
    position: relative;
    margin-bottom: 12px;
}
.login_check_box {
    position: relative;
    display: block;
    height: 26px;
}
.login_check_box input {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}


#content {

    margin: 0 auto;
    padding-bottom: 30px;
}

#avatar.ytd-video-owner-renderer {
    margin-right: 16px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
}

.yt-simple-endpoint.ytd-video-owner-renderer {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--yt-endpoint-color, var(--yt-spec-text-primary));
}

img.yt-img-shadow {
    margin-left: var(--yt-img-margin-left, auto);
    margin-right: var(--yt-img-margin-right, auto);
    max-height: var(--yt-img-max-height, none);
    max-width: var(--yt-img-max-width, 100%);
    border-radius: 50%;
}

.slim-owner-bylines{
    display:inline-block;
}

.subhead{
    font-size:11px;
}

h4{
    margin-top:-10%;
}

.insta-size{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

#id_email, #id_name, #id_password, #id_re_password, #id_phone{
    width:100%;
    position: relative;
    margin-bottom: 8px;
    padding: 7px 35px 10px 11px;
    border: solid 1px #dadada;
    background: #fff;
}

.write {
    color:white;
    background:#6E6CBF;
    height:40px;
    border-style:initial;
    width:10%;
    border-radius:37px;

    cursor:pointer;
}

.circle1 {
background:white;
width:120px;
height:120px;
border-radius:75px;
text-align:center;
margin:25px auto;
font-size:12px;
vertical-align:middle;
line-height:130px;
}

.loginstyle{
    flex: 0 0 auto;
    position: relative;
    right:0px;
    top: 0px;
    font-size:15px;
    cursor: pointer;
    float: right;
}

.logoutstyle{
    flex: 0 0 auto;
    position: relative;
    right:0px;
    top: 0px;
    font-size:15px;
    cursor: pointer;
    float: right;

}

.formcontrol{
      width: 100%;
    position: relative;
    margin-bottom: 8px;
    padding: 7px 35px 10px 11px;
    border: solid 1px;
    background: #fff;
    border-color: rgba(110, 108, 191, 0.2);
   }
.formbox{
    width: 100%;
    height: 100px;
    position: relative;
    margin-bottom: 8px;
    padding: 7px 35px 10px 11px;
    border: solid 1px #dadada;
    background: #fff;
   }
div.pager {
	width:100%;
	text-align:center;
}
div.pager  ul {
	height:20px;
	margin:10px auto;
}
div.pager  ul li 			{ color:#ddd; display:inline-block; margin:5px 0; width:20px ; font-weight:bold; font-size:17px; margin-right:1%;}
div.pager  ul li.selected	{ font-size:20px; color:#6E6CBF; }
div.pager  ul li a,
div.pager  ul li a:visited,
div.pager  ul li a:link,
div.pager  ul li a:active	{ text-decoration: none; color:#6799FF; }
div.pager  ul li a:hover	{ text-decoration: none; color:black; }div.pager {
	width:100%;
	text-align:center;
}

.submitcss{
    background-color: rgba( 255, 255, 255, 0.5 );
    border-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    opacity:0;
    border: 0;
    position: absolute;
    left:86%;
    }

.btn{
    color:white;
    background:#6E6CBF;
    height:40px;
    border-style:initial;
    width:5%;
    border-radius:40px;
    cursor:pointer;
    font-size:10px;
    opacity:0.8;
    float:right;
}
.btn2{
    color:white;
    background:#6E6CBF;
    height:33px;
    border-style:initial;
    width:20%;
    border-radius:3px;
    cursor:pointer;
}
.submitcss2{
    color: rgba(255, 255, 255, 0.5);
    opacity:0;
    position: absolute;

    }

.btn3{
    display: block;
    width: 100%;
    height: 56px;
    line-height: 55px;
    margin: 12px 0 14px;
    border-radius: 0;
    border: solid 1px rgba(0,0,0,.1);
    background-color: #404040;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.5px;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
table {
    border-collapse: collapse;

}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size:14px;
}
th {
    text-align: inherit;
    color:#6E6CBF;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.socialAccountName{
    display:inline-block;
    font-size: 13px;
}

.socialAccountNameDetail{
    font-size: 12px;
}

.socialAccountBox{
    width:20%;
    height: 150px;
    display:inline-block;
    background-color: whitesmoke;
    border-radius: 5px;
    border: solid 1px lightgray;
    padding: 15px;
    margin: 20px 10px 10px 20px;
    overflow:hidden;
}

.socialAccountBox:hover{
    box-shadow: 5px 5px 5px 5px lightgray;
    overflow:auto;
    overflow-x: hidden;
}

.socialAccountBox::-webkit-scrollbar {
    width: 5px;
  }
  .socialAccountBox::-webkit-scrollbar-thumb {
    background-color: #404040;
      border-radius: 5px;
  }
  .socialAccountBox::-webkit-scrollbar-track {
    background-color: whitesmoke;
      border-radius: 5px;
  }


.socialAccountBox2{
    width:20%;
    height: 150px;
    display:inline-block;
    background-color: #DCEBFF;
    border-radius: 5px;
    border: solid 1px lightgray;
    padding: 15px;
    margin: 20px 10px 10px 20px;
    overflow:hidden;
}

.socialAccountBox2:hover{
    box-shadow: 5px 5px 5px 5px lightgray;
    overflow:auto;
    overflow-x: hidden;
}

.socialAccountBox2::-webkit-scrollbar {
    width: 5px;
  }
  .socialAccountBox2::-webkit-scrollbar-thumb {
    background-color: #404040;
      border-radius: 5px;
  }
  .socialAccountBox2::-webkit-scrollbar-track {
    background-color: DCEBFF;
      border-radius: 5px;
  }

.socialAccountButton{
   background: inherit ;
    border:none;
    box-shadow:none;
    border-radius:0;
    padding:10px;
    overflow:visible;
    cursor:pointer;
    font-weight: bold;
    font-size: 18px;
}

.formTitle {
    font-size: 30px;
    color: #444444;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
}
.market_card {
    width:200px;
    margin: 0 15px 10px 15px;
    float:left;
    cursor: pointer;
}

.market_img {
    width: 200px;
    height: 200px;
    border-radius: 12px;
    margin-bottom: 5px;
    object-fit: cover;
}
.market_text {
    font-size: 13px;
    padding: 2px 15px;
}
.progress-bar {
    margin-top:0.5%;
    position:absolute;
    height:2px;
    background:#eee;
    width:100%;
}
.progress-bar::before {
    content:'';
    display:block;
    position:absolute;
    left:0;
    top:0;
    height:4px;
    background:#6E6CBF;
    -webkit-animation:10s loading infinite;
    animation:10s loading infinite;
}
@-webkit-keyframes loading {
    0% {width:0;}
    100% {width:100%;}
}
@keyframes loading {
    0% {width:0;}
    100% {width:100%;}
}
.half_background {
background: linear-gradient(to top, rgba(110, 108, 191, 0.4) 40%, transparent 50%);
}

.bord_title{
    padding-left:3%;
    padding-bottom: 2%;
    /*padding-top:2%;*/
    font-size: 20px;

}
