{% extends '../base.html' %}
{% load mathfilters %}


{% block content %}
<link href="/assets/css/comment.css" rel="stylesheet" type="text/css">
<div id="board" class="slideshow-container" style="margin: 0px 200px 100px 200px;">
	<table class="formcontrol" style="font-size:14px; ">


		<tr>
			<td style="padding: 2% 0 0.5% 3%; font-size: 16px;">{{board.category}}</td>
		</tr>
		<tr>
			<td class="bord_title"><span class="half_background">{{board.title}}</span></td>
<!--			<td><span class="half_background">{{board.title}}</span></td>-->
		</tr>
		<tr>
			<td>
<!--				<hr size="1" color="#dadada;" style="margin-right:10px; margin-left:10px; border-color:#dadada;" >-->
<!--				<a style="margin-left:2%; margin-right:3%;"><b style="color:#6E6CBF; font-size:13px">CATEGORY</b>  :  {{board.category}}</a>-->
				<a style="margin-left:3%; margin-right:3%;"><b style="color:#6E6CBF; font-size:13px">DATE</b>  :  {{board.regdate|date:'Y-m-d '}} </a>
				<a style="margin-right:3%;"><b style="color:#6E6CBF; font-size:13px">WRITER</b>  :  {{board.user.name}} </a>
				<a><b style="color:#6E6CBF; font-size:13px">HIT</b>  :  {{board.hit}}</a>
				<hr size="1" color="#dadada;" style="margin-right:10px; margin-left:10px; border-color:#dadada;">
			</td>
			<tr>
				<td>
					<div>
						{% for photo in board.photo_set.all%}
						<img src="{{photo.image.url}}" width="200" style="margin:3%;"><br>
						{% endfor %}
					</div>
					<div style="white-space: pre-line; margin:3%; font-size: 15px;">{{board.content}} </div>

					{% if request.session.authUser.email == board.user.email %}
					<input type="button" value="삭제" class="btn" onclick="location.href='{% url 'board:delete' board.id page %}?kwd={{kwd}}'" style="float:right">
					<input type="button" value="수정" class="btn" onclick="location.href='{% url 'board:modifyform' board.id page %}'" style="float:right; margin-right:1%;" >
					{% endif %}

				</td>

			</tr>
		</tr>
	</table>
<form method="post" action="{% url 'board:view' board.id page %}?kwd={{kwd}}" enctype="multipart/form-data">
	{% csrf_token %}

	<input id="comment_textfield" name="comment_textfield" placeholder="댓글을 달려면 먼저 로그인을 해주세요:)" class="formcontrol" style="height:50px; width:87%; border-radius:3px; margin-top:3%;">
	<input type="submit" value="등록" class="btn" style="height:50px; width:10%; border-radius:3px; margin-top:3%; font-size: 15px;">
</form>

	{% for comment in comments %}
		<article class="uk-comment" >
    <header class="uk-comment-header">
        <div class="uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-comment-avatar" src="images/avatar.jpg" width="80" height="80" alt="">
            </div>
            <div class="uk-width-expand">
                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset">{{ comment.comment_user.name }}</a></h4>
                <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                    <li><a >{{ comment.comment_date|date:'Y-m-d ' }}</a></li>
					{% if request.session.authUser.name == comment.comment_user.name %}

<!--                    <li>-->
<!--						<a>수정</a>-->
<!--						<a onclick="location.href='{% url 'board:commentdelete' board.id page %}?kwd={{kwd}}'" >삭제</a>-->
<!--					</li>-->
					{% endif %}
                </ul>
            </div>
        </div>
    </header>
    <div class="uk-comment-body" style="margin-top:-2%;">
        <p>{{ comment.comment_textfield }}</p>
    </div>
			<hr size="1" color="#dadada;" style="border-color:#dadada;">
</article>
{% endfor %}


	<div class="bottom">

		<a href="{% url 'board:list' page %}?kwd={{kwd}}"><button class="bordbutton">글목록</button></a>

		{% if request.session.authUser is not None %}
		<!--<a href="/board/writeform/{{board.id}}">답글</a>-->

		<a href="{% url 'board:reply_writeform' board.id page %}?kwd={{kwd}}"><button class="bordbutton">답글</button></a>

		{% endif %}
	</div>
</div>
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
{% endblock%}