{% extends 'base.html' %}

{% block content %}
<div>
            <a class="category">
                <p onClick="location.href='art'" class="cursor">미술</p>
                <p onClick="location.href='craft'" class="cursor">공예</p>
                <p onClick="location.href='workout'" class="cursor">운동</p>
                <p onClick="location.href='musicdance'" class="cursor">음악/댄스</p>
                <p onClick="location.href='instrument'" class="cursor" style="color: #6E6CBF;">악기</p>
                <p onClick="location.href='cook'" class="cursor">요리</p>
                <p onClick="location.href='homecafe'" class="cursor">홈카페</p>
                <p onClick="location.href='movies'" class="cursor">영화감상</p>
                <p onClick="location.href='books'" class="cursor">독서</p>
                <p onClick="location.href='etc'" class="cursor">기타</p>
                <p onClick="location.href='accountform'" class="cursor">계정 추천</p>
            </a>
    </div>
<div class="slideshow-container">
    <button style="width: 15%;" class="categorybutton">통기타 / 일렉기타</button>
    <button class="socialAccountButton" onclick="document.getElementById('intrument01').style.display=(document.getElementById('intrument01').style.display=='block') ? 'none' : 'block';">
        >
    </button>
    <p></p>

<!--유튜브-->

    <p></p>
    <div style="width:100%; display: none;" id="intrument01">


    <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='https://www.youtube.com/user/EmotionalAZ';"
        title="Emotional Guitarist AZ
Professional Guitarist / 레코딩 세션 / 레슨 / 유튜버
일본 기타리스트 팀 G.O.D. 멤버

기타 레슨 문의 : https://blog.naver.com/hollymaster/220828787609

AZ Twitter(KR) - https://twitter.com/AZ_Guitarist
AZ Twitter(JP) - https://twitter.com/AZ_arp124
AZ Instagram - https://www.instagram.com/az_guitarist
AZ Blog(KR) - https://blog.naver.com/hollymaster
AZ Youtube - https://youtube.com/c/EmotionalAZ
AZ Youtube(Old) - https://www.youtube.com/user/LiaxySound">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnh-cDgiGCW_qGu2vCGHbiAUbkz5Ha3SLstnnWRaRA=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">Emotional Guitarist AZ</h4>
        <hr>
        <p class="socialAccountNameDetail">
Emotional Guitarist AZ<br>
Professional Guitarist / 레코딩 세션 / 레
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='https://www.youtube.com/c/MartyMusic';"
        title="Marty Music is the premier destination for guitar instruction on YouTube. Host Marty Schwartz is a modern classic who combines his love and knowledge of music to help others improve their musical abilities. With everything from guitar lessons to gear reviews Marty will help strengthen your musical muscles.

https://www.patreon.com/MartyMusic
http://www.instagram.com/martyschwartz
http://www.twitter.com/martyschwartz
http://www.facebook.com/martyschwartzofficial
http://www.MartyMusic.com">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnjNODPbn-783b03TsarkGs1v81CgMNUT2cO_a5mVQ=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">Marty Music</h4>
        <hr>
        <p class="socialAccountNameDetail">
Marty Music is the premier destination for guitar instruction on
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='https://www.youtube.com/user/RussianBlueification';"
        title="안녕하세요 김형태 입니다.

기타 잘 치기 정말 어렵죠? 네 정말 어렵습니다.

저는 15년 넘게 기타를 치고 있지만 아직도 어렵습니다.

처음에는 기타를 시작할 때 짧게 짧게 레슨을 받은 적이 있지만 그리 머리에 남는 건 별로 없더라구요

그래서 그냥 혼자 했습니다. 책도 많이 사서 보고 영상도 많이 찾아서 보고...

사실 많이 돌아온 셈입니다. 돈을 많이 들여서 레슨을 꾸준히 받으면 지금보다 더 실력이 있었을 수도 있었겠죠

하지만 모든 것이 가정입니다. 악기는 머리보다는 손으로 하는 기술이니까요.

지식이 필요하지만 결국 연습만이 답입니다.

원포인트기타는 그동안 제가 고민하고 씨름하면서 얻은 지식과 노하우를

여러분께 알려드리는 전문기타레슨 채널입니다.

어쿠스틱기타와 일렉기타 초급, 중급 레슨이 업로드 되어 있어서 필요에 맞게 찾아보시면 되겠습니다.

간간히 CCM 레슨 영상도 있으니 필요하신 분들에게 되움이 되었으면 좋겠습니다.

원포인트 기타를 잘 이용하는 방법은 다음과 같습니다.

1. 레슨강의를 처음부터 끝까지 편한 마음으로 본다.
2. 강의에 나오는 연습내용을 완벽히 마스터한다.
3. 다음 강의로 넘어간다.
4. 궁금한 점은 댓글로 물어본다.

악기 연습은 모든 악기가 같습니다. 많은 곡을 연주하는 것보다 한 곡 한 곡을 정확히 마스터하는 것이 중요합니다.

시간도 많이 들고, 노력도 많이 들고, 돈도 많이 드는 기타레슨이지만

원포인트기타가 여러분의 길고 힘든 여정에 든든한 친구가 되길 바랍니다.">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwngJS5SjcntYdr-99qpFL6KSqr8xukpDbzi4VOXsBg=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">기타치는 김형태</h4>
        <hr>
        <p class="socialAccountNameDetail">
안녕하세요 김형태 입니다.<br>

기타 잘 치기 정말 어렵죠? 네 정말 어렵습
        </p>
        </div>


        <!--인스타-->
        <p></p>
<!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='주소';"
        title="설명
설명">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">아이디</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='주소';"
        title="설명
설명">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">아이디</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='주소';"
        title="설명
설명">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">아이디</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>


        <!--계정 추천 버튼-->
    <div style="width:20%; display:inline-block;">
        <svg onclick="location.href='accountform'" style="cursor: pointer;" fill="#404040" height="50" viewBox="0 0 512 512"  xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/></svg>
            <a style="font-size:12px;">관심 유튜브를 추가하세요!</a>
        </div>
    </div>
    <p></p>



    <button style="width: 15%;" class="categorybutton">우쿠렐러</button>
    <button class="socialAccountButton" onclick="document.getElementById('intrument02').style.display=(document.getElementById('intrument02').style.display=='block') ? 'none' : 'block';">
        >
    </button>
    <p></p>

<!--유튜브-->

    <p></p>
    <div style="width:100%; display: none;" id="intrument02">


    <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='https://www.youtube.com/user/mrleee01';"
        title="마포구 상암동 기타레슨, 연주활동을 하고 있습니다.">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnhoCilo-aYsznE2TuNJ0UwN9-RX6OGvsDVg2kmY=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">해피엠기타 이화균</h4>
        <hr>
        <p class="socialAccountNameDetail">
마포구 상암동 기타레슨, 연주활동을 하고 있습니다.
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='https://www.youtube.com/user/HwangYongWoo';"
        title="황선생기타교실
010-2612-8129">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwngF8IdahDXDH_NsrDYIVwdbovKis0tE8fniz-u-FmM=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">황용우</h4>
        <hr>
        <p class="socialAccountNameDetail">
황선생기타교실<br>
010-2612-8129
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='https://www.youtube.com/channel/UC9AZOV7EiHCWMlZajXiuU4Q';"
        title="“쉽고 정확하고 재밌게”꿀잼기타입니다">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwngkB3KdtEGdpL9tazTZWRDihME2VrI-5PFVa0zr=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">꿀잼기타 Honeyjam guitar</h4>
        <hr>
        <p class="socialAccountNameDetail">
“쉽고 정확하고 재밌게”꿀잼기타입니다<br><br>
        </p>
        </div>


        <!--인스타-->
        <p></p>
<!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='주소';"
        title="설명
설명">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">아이디</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='주소';"
        title="설명
설명">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">아이디</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='주소';"
        title="설명
설명">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">아이디</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>


        <!--계정 추천 버튼-->
    <div style="width:20%; display:inline-block;">
        <svg onclick="location.href='accountform'" style="cursor: pointer;" fill="#404040" height="50" viewBox="0 0 512 512"  xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/></svg>
            <a style="font-size:12px;">관심 유튜브를 추가하세요!</a>
        </div>
    </div>
    <p></p>



    <button style="width: 15%;" class="categorybutton">피아노</button>
    <button class="socialAccountButton" onclick="document.getElementById('intrument03').style.display=(document.getElementById('intrument03').style.display=='block') ? 'none' : 'block';">
        >
    </button>
    <p></p>

<!--유튜브-->

    <p></p>
    <div style="width:100%; display: none;" id="intrument03">


    <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='https://m.youtube.com/channel/UC6Yyt4u65wqf4PxRUm8Zmpg';"
        title="피아노를 배우고 싶은 피아노 초급, 중급분들을 위해 만든
클래식 피아니스트 라라의 채널입니다.
코드 반주법과 피아노 연주법에 대한 팁과
간단한 개인 연주영상을 올릴 예정입니다.">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://yt3.ggpht.com/ytc/AAUvwnhKOnKZ18U1iDVMnizf68m2mLGet74rXduLJIsn=s88-c-k-c0x00ffffff-no-rj">
            </yt-img-shadow>
        <h4 class="socialAccountName">라라의 피아노 스튜디오</h4>
        <hr>
        <p class="socialAccountNameDetail">
피아노를 배우고 싶은 피아노 초급, 중급분들을 위해 만든
클래식 피아니스트 라라의
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='주소';"
        title="설명
설명">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="이미지주소">
            </yt-img-shadow>
        <h4 class="socialAccountName">이름</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='주소';"
        title="설명
설명">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="이미지주소">
            </yt-img-shadow>
        <h4 class="socialAccountName">이름</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>


        <!--인스타-->
        <p></p>
<!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='주소';"
        title="설명
설명">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">아이디</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='주소';"
        title="설명
설명">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">아이디</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='주소';"
        title="설명
설명">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">아이디</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>


        <!--계정 추천 버튼-->
    <div style="width:20%; display:inline-block;">
        <svg onclick="location.href='accountform'" style="cursor: pointer;" fill="#404040" height="50" viewBox="0 0 512 512"  xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/></svg>
            <a style="font-size:12px;">관심 유튜브를 추가하세요!</a>
        </div>
    </div>
    <p></p>




    <button style="width: 15%;" class="categorybutton">기타</button>
    <button class="socialAccountButton" onclick="document.getElementById('intrument04').style.display=(document.getElementById('intrument04').style.display=='block') ? 'none' : 'block';">
        >
    </button>
    <p></p>

<!--유튜브-->

    <p></p>
    <div style="width:100%; display: none;" id="intrument04">


    <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='주소';"
        title="설명
설명">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="이미지주소">
            </yt-img-shadow>
        <h4 class="socialAccountName">이름</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='주소';"
        title="설명
설명">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="이미지주소">
            </yt-img-shadow>
        <h4 class="socialAccountName">이름</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>


        <!--        계정 하나-->

        <div class="socialAccountBox yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='주소';"
        title="설명
설명">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="이미지주소">
            </yt-img-shadow>
        <h4 class="socialAccountName">이름</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>


        <!--인스타-->
        <p></p>
<!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='주소';"
        title="설명
설명">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">아이디</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='주소';"
        title="설명
설명">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">아이디</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>


        <!--        계정 하나-->
        <div class="socialAccountBox2 yt-simple-endpoint style-scope ytd-video-owner-renderer cursor" tabindex="-1" onclick="location.href='주소';"
        title="설명
설명">
            <yt-img-shadow id="avatar" width="48" class="style-scope ytd-video-owner-renderer no-transition" loaded="" style="background-color: transparent;"><!--css-build:shady-->
            <img id="img" class="style-scope yt-img-shadow" alt="" width="30" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fwww.instagram.com%2Fstatic%2Fimages%2Fico%2Ffavicon.ico%2F36b3ee2d91ed.ico&type=f30_30_expire24">
            </yt-img-shadow>
        <h4 class="socialAccountName">아이디</h4>
        <hr>
        <p class="socialAccountNameDetail">
설명
        </p>
        </div>


        <!--계정 추천 버튼-->
    <div style="width:20%; display:inline-block;">
        <svg onclick="location.href='accountform'" style="cursor: pointer;" fill="#404040" height="50" viewBox="0 0 512 512"  xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/></svg>
            <a style="font-size:12px;">관심 유튜브를 추가하세요!</a>
        </div>
    </div>
    <p></p>



</div>
{% endblock %}