{% extends '../base.html' %}
{% load mathfilters %}
{% block content %}

<div id="content" style="width:50%;">

	<div style="display:flex;">
		<p class="formTitle">LOGIN</p>
	</div>
<!--	<fieldset class="login_form">-->

<!--		<div style="display:flex; margin: 0 auto;">-->

	<form id="login-form" name="loginform" method="post" action="{% url 'user:login' %}">
		{% csrf_token %}
<!--		<label class="block-label" for="email">이메일</label>-->
		<label class="block-label" for="email">이메일</label>
		<input id="email" name="email" type="text" class="formcontrol">
<!--		<label class="block-label" >패스워드</label>-->
		<label class="block-label">패스워드</label>
		<input name="password" type="password" value="" class="formcontrol">
		{% if request.GET.result == 'fail' %}
		<p style="color: red;">
			로그인이 실패 했습니다.
		</p>
		{% endif%}
		<div style="display:flex;">
		<p onclick="location.href='joinform'" class="btn_global">회원가입</p>
			<div style="padding:5px;"></div>
			<input type="submit" value="로그인" class="btn_global">
		</div>
	</form>
<!--	</fieldset>-->
<!--</div>-->
{% load socialaccount %}
{% providers_media_js %}
<!--<a href="{% provider_login_url 'google' %}"> 구글 로그인 </a>-->
</div>
{% endblock%}
